<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="main">
        <!-- BANNER -->
        <div id="banner">
            <h1>Online Diagnostic Lab Reporting System</h1>
            <p class="b2">@whitelabs - your own lab</p>
            <p class="b3">Delhi | Kolkata | Pune</p>
        </div>

        <!-- blankspace -->
        <div id="blank1" class="blank"></div>
        <div id="blank2" class="blank"></div>

        <!-- SIDEBAR -->
        <div id="sidebar">
            <div class="navs">
                <br>
                <h2><a href="">HOME</a></h2>
                <h2><a href="">CONTACT</a></h2>
                <br>
                <h2><a href="">DOCTOR</a></h2>
                <h2><a href="">PATIENT</a></h2>
                <br>
                <h2><a href="">TESTS</a></h2>
                <h2><a href="">REPORTS</a></h2>
                <br>
            </div>
        </div>


        <!-- WORKING AREA -->
        <div id="working-area">

            <div class="card card1">
                <!-- 3 DOTS -->
                <div class="tools t1">
                  <div class="circle">
                    <span class="red box"></span>
                  </div>
                  <div class="circle">
                    <span class="yellow box"></span>
                  </div>
                  <div class="circle">
                    <span class="green box"></span>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="card__content">
                    <!-- IMG -->
                    <div class="card-img card1img"></div>
                    <!-- LOGIN BTN -->
                    <form method="GET" action="/home/doc">
                    <button class="cssbuttons-io-button">
                        Login
                        <div class="icon">
                          <svg height="24"width="24"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"fill="currentColor"></path>
                          </svg>
                        </div>
                    </button>
                    </form>
                </div>
            </div>

            <div class="card card2">
                <!-- 3 DOTS -->
                <div class="tools t2">
                  <div class="circle">
                    <span class="red box"></span>
                  </div>
                  <div class="circle">
                    <span class="yellow box"></span>
                  </div>
                  <div class="circle">
                    <span class="green box"></span>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="card__content">
                    <!-- IMG -->
                    <div class="card-img card2img"></div>
                    <!-- LOGIN BTN -->
                    <form method="GET" action="/home/user">
                    <button class="cssbuttons-io-button">
                        Login
                        <div class="icon">
                          <svg height="24"width="24"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"fill="currentColor"></path>
                          </svg>
                        </div>
                    </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
 